<!--&lt;!&ndash; homepage.html &ndash;&gt;-->
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>Online Books For You</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Meter Data</h1>-->
<!--    <ul>-->
<!--        <li>{{ data.date }}</li>-->
<!--        <li>{{ data.meterusage }}</li>-->

<!--    </ul>-->
<!--</body>-->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>House</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />

  </head>
  <body>
    <div class="container"></div>
    <script>
      var obj = JSON.parse({{data | tojson | safe}});
      console.log(obj);
      console.log(obj.meterdata)
      document.querySelector(".container").innerHTML = JSON.stringify(obj, null, 2);

    </script>
  </body>
</html>