<!--&lt;!&ndash; homepage.html &ndash;&gt;-->
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>Online Books For You</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Meter Data</h1>-->
<!--    <ul>-->
<!--        <li>{{ data.date }}</li>-->
<!--        <li>{{ data.meterusage }}</li>-->

<!--    </ul>-->
<!--</body>-->

<html lang="en">
<head>
  <title>Datatables Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
</head>
<body>
<h1>Meter Usage by date</h1>
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Meter Usage</th>

            </tr>
        </thead>
    </table>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        "ajax": {
            // "url": "static/objects2.txt", // This works for the static file
            "url": "/data", // This doesn't work
            "dataType": "json",
            "dataSrc": "data",
            "contentType":"application/json"
        },
        "columns": [
            { "data": "date" },
            { "data": "meterusage" },

        ]
    } );
} );
</script>
</body>
</html>